Package: grub-doc
Source: grub
Version: 0.97-29ubuntu59
Architecture: all
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 904
Suggests: doc-base
Section: doc
Priority: optional
Description: Documentation for GRand Unified Bootloader
 GRUB is a GPLed bootloader intended to unify bootloading across x86
 operating systems.  In addition to loading the Linux kernel,
 it implements the Multiboot standard, which allows for flexible loading
 of multiple boot images (needed for modular kernels such as the GNU Hurd).
Original-Maintainer: Grub Maintainers <pkg-grub-devel@lists.alioth.debian.org>
